.datepicker-dropdown {
  border: 1px solid $orange !important;
  border-radius: 5px;

  .datepicker-days {
    width: 250px;
    text-align: center;

    tbody {
      td {
        border-radius: 5px;
      }
    }

    .active {
      background: $orange !important;
    }
  }
}
