.navbar-wrapper {
  width: 100%;

  .navbar {
    padding-bottom: 0;
    height: $navbar-height;

    .active {
      border-bottom: .3rem solid $orange;
    }
  }

  nav {
    margin-bottom: $navbar-margin-bottom;

    .nav-link {
      color: $white !important;

      &:hover {
        opacity: .7;
      }
    }
  }
}
