table {
  width: 100%;

td a {
  display: block;
  width: 100%;
}

  .actionCell, .accordionActionCell {
    overflow: visible;
  }

  .accordionActionCell {
    padding: 4px 10px;
  }
}

#mainTable {
  overflow: visible;

  .showDetail {
    height: 38px;
    width: 30px;
  }

  .titleCell {
    height: 38px;
    text-decoration: underline;
  }
}

.greyRowTable {
  border-collapse: separate;
  border-spacing: 0 20px;
  border: none;

  thead>tr {
    font-weight: bold;
    text-decoration: underline;
  }


  table {
    border-collapse: separate;
    border-spacing: 0 10px;
    border: none;

    thead>tr {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .dataRow {
    transition: all 0.5s ease;
    background: $light-grey;
    font-size: 15px;
  }

  .dataCell {
    padding-left: 15px;
    border-left: 10px solid $blue;
  }

  .firstCell {
    padding-left: 7px;
    border-radius: 15px 0 0 15px
  }

  .lastCell {
    padding-right: 5px;
    border-radius: 0 15px 15px 0;
  }

  th {
    border: none;
  }

  td {
    padding-bottom: 4px;
    padding-top: 4px;
    border: none;
  }

  .lowOpacityRow {
    opacity: .3;
  }
}

.totalWrapper {
  margin-right: 50px;

  span {
    font-weight: bold;

    &:first-child {
      margin-right: 15px;
      text-decoration: underline;
    }
  }
}
