$dark-orange: #A85619;
$orange: #E87722;
$light-orange: #FF9D19;
$lighter-orange: #FF913F;

$dark-purple: #4A2458;
$purple: #7F3E98;
$light-purple: #AE3FAF;
$lighter-purple: #C574E4;

$dark-yellow: #B9A639;
$yellow: #F9DF4D;
$light-yellow: #E2DA3B;
$lighter-yellow: #FFE868;

$dark-blue: #2392B4;
$blue: #30C5F4;
$light-blue: #207EDD;
$lighter-blue: #4CD4FF;

$dark-pink: #A0366F;
$pink: #E04B9B;
$light-pink: #F7464D;
$lighter-pink: #FF6FBC;

$white: #FFFFFF;

$grey: #999999;
$light-grey: #BBBBBB;

$black: #000000;
$light-black: #222222;
